<div class="jumbotron itinerary">
  <div class="overlay">
    <div class="text">
      <h2>Passaggio a Nord-Ovest</h2>
      <p>Da Roma a Cerveteri, alla scoperta della civiltà Etrusca.</p>
    </div>
  </div>
</div>

<div class="container margin-top">
  <div class="row">
    <div class="col-md-12">
      <h2>Tappe principali:</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="img-container" style="background-image: url('../img/giulia.jpg');">
        <div class="overlay" ng-click="gotoItinerary()">
          <h3>Museo di Valle Giulia</h3>
          <div class="ribbon">TOP</div>
          <div class="footer">Richiede circa 6 ore</div>
          <div class="user">
            <span>Giovanni</span>
            <img src="../img/users/3.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="img-container" style="background-image: url('../img/banditaccia.jpg');">
        <div class="overlay" ng-click="gotoItinerary()">
          <h3>Cerveteri, Baditaccia</h3>
          <div class="ribbon">TOP</div>
          <div class="footer">Richiede circa 1 giornata</div>
          <div class="user">
            <span>Giorgio</span>
            <img src="../img/users/2.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container margin-top">
  <div class="row">
    <div class="col-md-8">
      <h2>L'esperienza di:</h2>
      <div class="user-info">
        <div class="image">
          <img src="../img/users/3.jpg" alt="">
        </div>
        <div class="info">
          <span>Alessandro</span>
          <div class="stars">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-half"></span>
          </div>
        </div>
      </div>

      <h4>Visita in data: 14/04/2016</h4>

      <q>Piccola premessa: sono un romano di Roma e come tale mi capita spesso di passare per Termini. Durante una di
         queste “passaggi” ho posato uno sguardo più attento sui resti di mura che si vedono sulla sinistra uscendo verso
         Piazza dei Cinquecento. A quando risalgono? Facendo qualche ricerca ho scoperto che si tratta di un tratto
         sopravvissuto delle mura serviane. Risalgono all’epoca dei sette re di Roma, in particolare Tarquinio Prisco e
         Servio Tullio. Insomma mi sono messo a ragionare su quello che sapevo degli etruschi e della mia città, e
         cercando ho trovato che sia il campidoglio che il celio prendono nome da due fratelli condottieri etruschi!
         Celio e Aulo Vibenna, compagni d’arme proprio di Servio Tullio come risulta da alcune fonti trovate nella tomba
         François a Vulci, una delle dodici grandi città etrusche. Ma intorno a Roma mi chiedo c’è qualcosa di più vicino?
         Ma certo! Cerveteri, l’antica Caere. E’ nella necropoli della Banditaccia che è stato ritrovato il Sarcofago degli
         Sposi (stava su tutti i testi scolastici non so se ve lo ricordate!). Ora è conservato al Museo Etrusco di Villa Giulia.
         Prima tappa della gita che ho deciso di organizzare con i miei amici! Sabato dopo pranzi avevamo formato un gruppetto
         di 8 persone diretti a Villa Giulia. Raccoglie insieme tutte le antichità pre-Romane del Lazio, dell'Etruria meridionale
         e dell'Umbria appartenenti alle civiltà etrusca e falisca. Seconda tappa di domenica siamo andati alla Necropoli della
         Banditaccia di Cerveteri. Noi siamo andati in macchina (40 minuti un ora se c’è traffico) ma volendo ci sono anche
         i mezzi pubblici (ma li la cosa si fa un po’ più complicata). Arriviamo e sui 100 ettari di tombe etrusche
         sfortunatamente e fortunatamente solo il 10 % è visitabile. Bellissime le tombe della Cornice e della Capanna
         con la realtà aumentata curata da Piero Angela e Paco Lanciani. Poi sosta nell’area picnic per un panino al sacco
         e degustazione presso l’Azienda Vitivinicola Tenuta Tre Cancelli che fa parte della Strada delle Terre Etrusco Romane!
         Passeggiata al centro di Cerveteri e al Museo. Per concludere la giornata abbiamo cena conclusiva al Mille800 al centro
         di Cerveteri. Consiglio di tenere d’occhio il calendario perché ad aprile nella vicina Ladispoli c’è la sagra del
         Carciofo e se avete la possibilità andate assolutamente!</q>
    </div>
    <div class="col-md-4">
      <h2>Timeline:</h2>
      <div class="text-container timeline">
        <div class="element">
          <div class="desc">
            <h4>Percorso del Sabato:</h4>
          </div>
        </div>

        <div class="element orange">
          <div class="logo">
            <span class="fa fa-clock-o"></span>
          </div>

          <div class="desc">
            Stazione Termini ore 15:00
          </div>
        </div>

        <div class="element blue">
          <div class="logo">
            <span class="fa fa-train"></span>
          </div>

          <div class="desc">
            Metro A Battistini 25 min
          </div>
        </div>

        <div class="element blue">
          <div class="logo">
            <span class="fa fa-dot-circle-o"></span>
          </div>

          <div class="desc">
            Fermata Flaminio
          </div>
        </div>

        <div class="element green">
          <div class="logo">
            <span class="fa fa-university"></span>
          </div>

          <div class="desc">
            Museo Valle Giulia
          </div>
        </div>
      </div>

      <div class="text-container timeline">
        <div class="element">
          <div class="desc">
            <h4>Percorso della Domenica:</h4>
          </div>
        </div>

        <div class="element orange">
          <div class="logo">
            <span class="fa fa-clock-o"></span>
          </div>

          <div class="desc">
            Piazza Barberini ore 15:00
          </div>
        </div>

        <div class="element blue">
          <div class="logo">
            <span class="fa fa-train"></span>
          </div>

          <div class="desc">
            Macchina 40 min
          </div>
        </div>

        <div class="element green">
          <div class="logo">
            <span class="fa fa-university"></span>
          </div>

          <div class="desc">
            Necropoli della Banditaccia
          </div>
        </div>
      </div>

      <div class="text-container timeline">
        <div class="element">
          <div class="desc">
            <h4>Suggerimenti:</h4>
          </div>
        </div>

        <div class="element orange">
          <div class="logo">
            <span class="fa fa-cutlery"></span>
          </div>

          <div class="desc">
            Sagra del Carciofo - Ladispoli
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container margin-top">
  <div class="row">
    <div class="col-md-12">
      <h2>Per un break:</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="img-container" style="background-image: url('../img/rist.jpg');">
        <div class="overlay" ng-click="gotoItinerary()">
          <h3>Azienda Vitivinicola Tenuta Tre Cancelli</h3>
          <div class="ribbon">VINI</div>
          <div class="footer">30cr. 10%</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="img-container" style="background-image: url('../img/rist.jpg');">
        <div class="overlay" ng-click="gotoItinerary()">
          <h3>Ristorante Mille800</h3>
          <div class="ribbon">RIST</div>
          <div class="footer">100cr. 5%</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="img-container" style="background-image: url('../img/jolly.jpg');">
        <div class="overlay" ng-click="gotoItinerary()">
          <h3>Jolly Bar</h3>
          <div class="ribbon">BAR</div>
          <div class="footer">200cr. 1 caffè</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">

    </div>

    <div class="col-md-3">

    </div>
  </div>
</div>

<div class="container margin-top">
  <div class="row">
    <div class="col-md-12">
      <h2>Mappa dei punti di interesse:</h2>
    </div>
  </div>
</div>

<div class="jumbotron map">
  <div id="mapContainer"
       ui-map="radarMap"
       ui-options="radarMapOptions"
       ui-event="{'map-click': 'onMapClick($event, $params)', 'map-zoom_changed': 'onZoomLevelChange()'}"></div>
</div>

<div class="container margin-top">
  <div class="row">
    <div class="col-md-12">
      <h2>Stanno organizzando lo stesso itinerario:</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="img-container" style="background-image: url('../img/users/1.jpg');">
        <div class="overlay" ng-click="gotoItinerary()">
          <h3>Eugenio Sperlanti</h3>
          <div class="ribbon gold">GOLD</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="img-container" style="background-image: url('../img/users/2.jpg');">
        <div class="overlay" ng-click="gotoItinerary()">
          <h3>Giovanni Sidoti</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="img-container">
        <div class="overlay" ng-click="gotoItinerary()">
          <h3>Partecipa!</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">

    </div>

    <div class="col-md-3">

    </div>
  </div>
</div>